.dropDownList {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropDownList i {
  position: absolute;
  right: 5px;
  font-size: 6px;
  color: #ccc;
}

.dropDownList button {
  cursor: pointer;
  font-size: 14px;
  color: #3D464D;
  line-height: 14px;
  background: #F8F8F8 100%;
  width: 300px;
  height: 38px;
  border: none;
  outline: none;
  text-align: left;
  text-indent: 19px;
  /* margin-bottom: 4px; */
  overflow: hidden;
  /*超出部分隐藏*/
  white-space: nowrap;
  /*不换行*/
  text-overflow: ellipsis;
  /*超出部分文字以...显示*/
}

.dropDownList ul {
  top: 42px;
  display: none;
  width: 300px;
  margin: 0 auto;
  text-align: left;
  padding: 0;
  position: absolute;
  max-height: 170px;
  overflow: auto;
  background: #FFFFFF;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16);
  z-index: 9999;
}

.dropDownList .active {
  display: block;
}

.dropDownList ul li {
  width: 100%;
  height: 32px;
  line-height: 32px;
  background-color: #FFFFFF;
  list-style: none;
  list-style-type: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  color: #3D464D;
}

.dropDownList ul li:hover {
  background: #F3F3F3;
  color: #3D464D;
}

.ivu-checkbox-group-item, .ivu-switch {
  display: inline-block;
}

.ivu-checkbox {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  line-height: 1;
  position: relative;
  margin-left: 20px;
}

.ivu-checkbox-inner {
  display: inline-block;
  width: 14px;
  height: 14px;
  position: relative;
  top: 0;
  left: 0;
  border: 1px solid #dddee1;
  border-radius: 2px;
  background-color: #fff;
  transition: border-color .2s ease-in-out, background-color .2s ease-in-out, box-shadow .2s ease-in-out;
}

.ivu-checkbox-input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
}

.ivu-checkbox+span, .ivu-checkbox-wrapper+span {
  margin-right: 4px;
}

.ivu-checkbox-group-item, .ivu-switch {
  display: inline-block;
}

.ivu-checkbox-wrapper {
  cursor: pointer;
  font-size: 12px;
  display: inline-block;
  margin-right: 8px;
}

.ivu-checkbox-checked .ivu-checkbox-inner {
  border-color: #2d8cf0;
  background-color: #2d8cf0;
}

.ivu-checkbox-checked .ivu-checkbox-inner:after {
  content: "";
  display: table;
  width: 4px;
  height: 8px;
  position: absolute;
  top: 1px;
  left: 4px;
  border: 2px solid #fff;
  border-top: 0;
  border-left: 0;
  transform: rotate(45deg) scale(1);
  transition: all .2s ease-in-out;
}

.ivu-checkbox-inner:after {
  content: "";
  display: table;
  width: 4px;
  height: 8px;
  position: absolute;
  top: 1px;
  left: 4px;
  border: 2px solid #fff;
  border-top: 0;
  border-left: 0;
  transform: rotate(45deg) scale(0);
  transition: all .2s ease-in-out;
}